openai
streamlit
google-api-python-client
google-auth
google-genai
browser-use
playwright>=1.48.0
playwright-stealth
langchain-openai
langsmith>=0.4.27
PyPDF2
beautifulsoup4
google-auth-oauthlib
llama-index
nltk
numpy
oauthlib
python-docx
pypdf
requests
yt-dlp
pytube
youtube-transcript-api==1.2.4
claude-agent-sdk
python-dotenv
anthropic
psycopg2-binary
